__pycache__
.idea/
.vscode/
.Project Backup/
*.pyc
*.pyo
*.pyd
*.log
*.workspace
src/plate.txt
simulations/Project Backups/Audo \[Autosaved\].pdsprj
/simulations/Project Backups
/firmware/Stm32/Debug
